.App {
  text-align: center;
  background-color: var(--bg-primary);
  min-height: 100vh;
  color: var(--text-primary);
}

.app-content-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content-main {
  flex: 1;
}
