.Login-h2 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: black; /* 텍스트 색상을 검정으로 설정 */
    margin-top: 150px;
}

.Login-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center; /* 폼 요소들 가운데 정렬 */
}

.Login-button {
    width: 100%;
    margin-top: 10px;
    background: linear-gradient(165deg, #f5d5a7, #8ea6c3 30%, #33506e 90%);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease; /* 배경색 변경 시 부드럽게 전환 */
}

.Login-button:hover {
    background: linear-gradient(165deg, #f5d5a7, #8ea6c3 30%, #33506e 90%);
}

.Login-input-text,
.Login-input-pw,
.Login-input-email,
.Login-label {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.Login-link {
    text-align: center; /* 링크 가운데 정렬 */
}

.Login-link a {
    color: black; /* 링크 텍스트 색상을 검정으로 설정 */
    text-decoration: none; /* 밑줄 제거 */
    
}

.Login-link a:hover {
    color: black; /* 호버 시 텍스트 색상은 그대로 검정 */
}
